.hide {
  display: none;
}

#faculty {
  width: 300px;
  margin-bottom: 25px;
}

#publications {
  border-collapse: separate;
}

#publications tbody td {
  border: 0px solid #000000 !important;
}

#publications tbody tr td {
  font-size: initial;
}

#publications tbody td a:link {
  text-decoration: none !important;
}

#publications tbody td a:visited {
  color: #024794;
}

#publications tbody td .pub-desc {
  padding-left: 10px;
  color: #242424;
  margin-top: 1%;
}

#publications tbody td .pub-desc-title {
  color: #666666;
  min-width: 18%;
  text-align: right;
  margin-right: 1%;
  display: inline-block;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.white-popup div {
  color: #666666;
}

.white-popup h1,
.white-popup h3 {
  color: #00274c !important;
  font-weight: bold;
  border-bottom: 1px solid #00274c;
  margin-bottom: 2px;
  font-size: large;
  padding-bottom: 2px;
  text-align: left !important;
}

.white-popup > .pub-body {
  text-align: left !important;
}

.white-popup > .pub-body > table {
  width: 100%;
  margin: 20px 0px 2px 0px;
  color: #666666 !important;
  text-align: left;
}

.white-popup > .pub-body > table > thead tr th {
  border-bottom: 1px solid #666666 !important;
  color: #00274c !important;
}

.white-popup > .pub-body > table th {
  font-weight: bold;
  font-size: medium;
}

.white-popup > .pub-body > table tbody td {
  font-size: small;
  font-color: #666666;
}

#cloud {
  margin: 10px 0px;
  width: 500px;
  height: 300px;
}

.w1 { }
.w2 { }
.w3 { }
.w4 { }
.w5 { }
.w6 { }
.w7 { }
.w8 { }
.w9 { }
.w10 { }
