.hide {
  display: none;
}

#faculty {
  width: 300px;
  margin-bottom: 25px;
}

#publications tbody tr td {
  font-size: initial;
}

#publications tbody td .pub-desc {
  padding-left: 10px;
  margin-top: 1%;
}

#publications tbody td .pub-desc-title {
  color: #666666;
  min-width: 18%;
  text-align: right;
  margin-right: 1%;
  display: inline-block;
}

#publications tbody tr.even {
  background-color: #dfdfdf;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.white-popup div {
  color: #666666;
}

.white-popup h1,
.white-popup h3 {
  color: #00274c !important;
  font-weight: bold;
  border-bottom: 1px solid #00274c;
  margin-bottom: 2px;
  font-size: large;
  padding-bottom: 2px;
  text-align: left !important;
}

.white-popup > .pub-body {
  text-align: left !important;
}

.white-popup > .pub-body > table {
  width: 100%;
  margin: 20px 0px 2px 0px;
  color: #666666 !important;
  text-align: left;
}

.white-popup > .pub-body > table > thead tr th {
  border-bottom: 1px solid #666666 !important;
}

.white-popup > .pub-body > table th {
  font-weight: bold;
  font-size: medium;
}

.white-popup > .pub-body > table tbody td {
  font-size: small;
  font-color: #666666;
}

#cloud {
  margin: 10px 0px;
  width: 500px;
  height: 300px;
}

div.jqcloud a:hover  { color: #3473ec; }
div.jqcloud a.cloud { text-decoration: none !important; }
div.jqcloud span.w1  { color: rgba(68,68,68,.85); }
div.jqcloud span.w2  { color: rgba(68,68,68,.85); }
div.jqcloud span.w3  { color: rgba(68,68,68,.85); }
div.jqcloud span.w4  { color: rgba(0,39,76,.8); }
div.jqcloud span.w5  { color: rgba(0,39,76,.8); }
div.jqcloud span.w6  { color: rgba(0,39,76,.8); }
div.jqcloud span.w7  { color: rgba(0,39,76,.8); }
div.jqcloud span.w8  { color: rgba(0,39,76,.8); }
div.jqcloud span.w9  { color: rgba(0,39,76,.8); }
div.jqcloud span.w10 { color: #003e78; }

#content {
  padding-top: 0px;
}
